<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="MoviePlatform - Watch movies and TV series online without any signups or payments. Discover the most popular and latest movies all in one place. We offer high quality movies with crystal clear sound and also a wide variety of TV series. Enjoy!">
		<meta name="keywords" content="stream, watch, latest, popular, TV series, movies, online, free">
		<title>MoviePlatform | Image Gallery</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700|Nunito:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="classySocial/css/jquery.classysocial.min.css" />
		<link rel="stylesheet" href="slickNav/dist/slicknav.css" />
	</head>
	<body>
		<div id="main-wrapper">
			<header class="main-header">
				<a href="{{ baseUrl() }}" id="main-logo">
					<h1>MoviePlatform</h1>
					<h2 id="sub-logo">World's Premier Movie Publication</h2>
				</a>
				<form action="index.html" method="get" class="search">
					<input type="text" name="search_field" placeholder="Search" class="sf">
					<input type="image" value="Search" src="img/search.png" class="sb">
				</form>
				<nav>
					<ul class="main-nav" id="menu">
						<li><a href="{{ baseUrl() }}">Home</a></li>
						<li><a href="{{ siteUrl('/latest-movies') }}">Latest</a></li>
						<li><a href="{{ siteUrl('/popular-movies') }}">Popular</a></li>
						<li><a href="{{ siteUrl('/tv-series') }}">TV Series</a></li>
						<li><a href="{{ siteUrl('/trailers') }}">Trailers</a></li>
						<li><a href="{{ siteUrl('/upcoming') }}">Upcoming</a></li>
						<li><a href="{{ siteUrl('/gallery') }}" class="selected">Gallery</a></li>
						<li><a href="{{ siteUrl('/about') }}">About</a></li>
						<li><a href="{{ siteUrl('/contact') }}">Contact</a></li>
					</ul>
				</nav>
			</header>
			<section>
				<h1 class="page_heading">Image Gallery</h1>
				<ul id="gallery">
					<li>
						<a href="img/gallery/spectre.jpg">
							<img src="img/gallery/preview/spectre.jpg" alt="SPECTRE">
						</a>
					</li>
					<li>
						<a href="img/gallery/the_force_awakens.jpg">
							<img src="img/gallery/preview/the_force_awakens.jpg" alt="STAR WARS: THE FORCE AWAKENS">
						</a>
					</li>
					<li>
						<a href="img/gallery/mockingjay_part_2.jpg">
							<img src="img/gallery/preview/mockingjay_part_2.jpg" alt="THE HUNGER GAMES: MOCKINGJAY PART 2">
						</a>
					</li>
					<li>
						<a href="img/gallery/pan.jpg">
							<img src="img/gallery/preview/pan.jpg" alt="PAN">
						</a>
					</li>
					<li>
						<a href="img/gallery/secret_in_their_eyes.jpg">
							<img src="img/gallery/preview/secret_in_their_eyes.jpg" alt="THE SECRET IN THEIR EYES">
						</a>
					</li>
					<li>
						<a href="img/gallery/the_good_dinosaur.jpg">
							<img src="img/gallery/preview/the_good_dinosaur.jpg" alt="THE GOOD DINOSAUR">
						</a>
					</li>
					<li>
						<a href="img/gallery/the_scorch_trials.jpg">
							<img src="img/gallery/preview/the_scorch_trials.jpg" alt="MAZE RUNNER: THE SCORCH TRIALS">
						</a>
					</li>
					<li>
						<a href="img/gallery/300.jpg">
							<img src="img/gallery/preview/300.jpg" alt="300">
						</a>
					</li>
					<li>
						<a href="img/gallery/age_of_ultron.jpg">
							<img src="img/gallery/preview/age_of_ultron.jpg" alt="AVENGERS: AGE OF ULTRON">
						</a>
					</li>
					<li>
						<a href="img/gallery/agents_of_shield.jpg">
							<img src="img/gallery/preview/agents_of_shield.jpg" alt="AGENTS OF S.H.I.E.L.D.">
						</a>
					</li>
					<li>
						<a href="img/gallery/american_horror_story.jpg">
							<img src="img/gallery/preview/american_horror_story.jpg" alt="AMERICAN HORROR STORY">
						</a>
					</li>
					<li>
						<a href="img/gallery/ant_man.jpg">
							<img src="img/gallery/preview/ant_man.jpg" alt="ANT-MAN">
						</a>
					</li>
					<li>
						<a href="img/gallery/child_44.jpg">
							<img src="img/gallery/preview/child_44.jpg" alt="CHILD44">
						</a>
					</li>
					<li>
						<a href="img/gallery/cowboys&aliens.jpg">
							<img src="img/gallery/preview/cowboys&aliens.jpg" alt="COWBOYS & ALIENS">
						</a>
					</li>
					<li>
						<a href="img/gallery/fast_and_furious_7.jpg">
							<img src="img/gallery/preview/fast_and_furious_7.jpg" alt="FAST AND FURIOUS 7">
						</a>
					</li>
					<li>
						<a href="img/gallery/final_destination_5.jpg">
							<img src="img/gallery/preview/final_destination_5.jpg" alt="FINAL DESTINATION 5">
						</a>
					</li>
					<li>
						<a href="img/gallery/game_of_thrones.jpg">
							<img src="img/gallery/preview/game_of_thrones.jpg" alt="GAME OF THRONES">
						</a>
					</li>
					<li>
						<a href="img/gallery/green_lantern.jpg">
							<img src="img/gallery/preview/green_lantern.jpg" alt="GREEN LANTERN">
						</a>
					</li>
					<li>
						<a href="img/gallery/hotel_transylvania_2.jpg">
							<img src="img/gallery/preview/hotel_transylvania_2.jpg" alt="HOTEL TRANSYLVANIA 2">
						</a>
					</li>
					<li>
						<a href="img/gallery/insurgent.jpg">
							<img src="img/gallery/preview/insurgent.jpg" alt="INSURGENT">
						</a>
					</li>
					<li>
						<a href="img/gallery/jurassic_world.jpg">
							<img src="img/gallery/preview/jurassic_world.jpg" alt="JURASSIC WORLD">
						</a>
					</li>
					<li>
						<a href="img/gallery/mad_max_fury_road.jpg">
							<img src="img/gallery/preview/mad_max_fury_road.jpg" alt="MAD MAX: FURY ROAD">
						</a>
					</li>
					<li>
						<a href="img/gallery/maleficent.jpg">
							<img src="img/gallery/preview/maleficent.jpg" alt="MALEFICENT">
						</a>
					</li>
					<li>
						<a href="img/gallery/potc_tdmc.jpg">
							<img src="img/gallery/preview/potc_tdmc.jpg" alt="PIRATES OF THE CARIBBEAN: DEAD MAN'S CHEST">
						</a>
					</li>
					<li>
						<a href="img/gallery/sabotage.jpg">
							<img src="img/gallery/preview/sabotage.jpg" alt="SABOTAGE">
						</a>
					</li>
					<li>
						<a href="img/gallery/seventh_son.jpg">
							<img src="img/gallery/preview/seventh_son.jpg" alt="SEVENTH SON">
						</a>
					</li>
					<li>
						<a href="img/gallery/spy.jpg">
							<img src="img/gallery/preview/spy.jpg" alt="SPY">
						</a>
					</li>
					<li>
						<a href="img/gallery/straight_outta_compton.jpg">
							<img src="img/gallery/preview/straight_outta_compton.jpg" alt="STRAIGHT OUTTA COMPTON">
						</a>
					</li>
					<li>
						<a href="img/gallery/survivor.jpg">
							<img src="img/gallery/preview/survivor.jpg" alt="SURVIVOR">
						</a>
					</li>
					<li>
						<a href="img/gallery/the_hobbit_mystry_journey.jpg">
							<img src="img/gallery/preview/the_hobbit_mystry_journey.jpg" alt="THE HOBBIT: AN UNEXPECTED JOURNEY">
						</a>
					</li>
					<li>
						<a href="img/gallery/the_man_from_uncle.jpg">
							<img src="img/gallery/preview/the_man_from_uncle.jpg" alt="THE MAN FROM U.N.C.L.E.">
						</a>
					</li>
					<li>
						<a href="img/gallery/the_maze_runner.jpg">
							<img src="img/gallery/preview/the_maze_runner.jpg" alt="THE MAZE RUNNER">
						</a>
					</li>
				</ul>
			</section>
			<footer class="main-footer">
				<p>Connect with us</p>
				<div class="classysocial bubble" data-arc-length="360" data-image-type="picture" data-picture="img/share_icon.png" data-facebook-handle="lakistealthhacker" data-twitter-handle="lakindu_jaya" data-email-handle="lakindu1.jayathilaka@gmail.com" data-skype-handle="lakindu_jayathilaka" data-instagram-handle="lakindu_jaya" data-pinterest-handle="lakindu_jaya" data-youtube-handle="movieplatform" data-networks="facebook,twitter,email,skype,instagram,pinterest,youtube">
				</div>
				<h1>MoviePlatform</h1>
				<p>World's Premier Movie Publication</p>
				<p>&copy; 2015 MoviePlatform. All Rights Reserved.</p>
				<p>All of the free movies found on this website are hosted on third-party servers that are freely available to watch online for all internet users. Any legal issues regarding the free online movies on this website should be taken up with the actual file hosts themselves, as we're not affiliated with them.</p>
			</footer>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="classySocial/js/jquery.classysocial.min.js"></script>
		<script src="slickNav/dist/jquery.slicknav.min.js"></script>
		<script src="js/gallery.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>