<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="MoviePlatform - Discover the most popular movies of all time and watch them online for free. We provide high quality movies with crystal clear sound. We make streaming movies easy for you.">
		<meta name="keywords" content="stream, watch, popular, movies, online, free">
		<title>MoviePlatform | Popular Movies</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700|Nunito:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="classySocial/css/jquery.classysocial.min.css" />
		<link rel="stylesheet" href="slickNav/dist/slicknav.css" />
	</head>
	<body>
		<div id="main-wrapper">
			<header class="main-header">
				<a href="{{ baseUrl() }}" id="main-logo">
					<h1>MoviePlatform</h1>
					<h2 id="sub-logo">World's Premier Movie Publication</h2>
				</a>
				<form action="index.html" method="get" class="search">
					<input type="text" name="search_field" placeholder="Search" class="sf">
					<input type="image" value="Search" src="img/search.png" class="sb">
				</form>
				<nav>
					<ul class="main-nav" id="menu">
						<li><a href="{{ baseUrl() }}">Home</a></li>
						<li><a href="{{ siteUrl('/latest-movies') }}">Latest</a></li>
						<li><a href="{{ siteUrl('/popular-movies') }}" class="selected">Popular</a></li>
						<li><a href="{{ siteUrl('/tv-series') }}">TV Series</a></li>
						<li><a href="{{ siteUrl('/trailers') }}">Trailers</a></li>
						<li><a href="{{ siteUrl('/upcoming') }}">Upcoming</a></li>
						<li><a href="{{ siteUrl('/gallery') }}">Gallery</a></li>
						<li><a href="{{ siteUrl('/about') }}">About</a></li>
						<li><a href="{{ siteUrl('/contact') }}">Contact</a></li>
					</ul>
				</nav>
			</header>
			<section>
				<h1 class="page_heading">Popular Movies</h1>
				<ul class="movies">
					<li>
						<img src="img/mad_max_fury_road.jpg" alt="Mad Max Fury Road Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Mad Max: Fury Road</h2>
							<p class="movie_synopsis">Years after the collapse of civilization, the tyrannical Immortan Joe enslaves apocalypse survivors inside the desert fortress the Citadel. When the warrior Imperator Furiosa (Charlize Theron) leads the despot's five wives in a daring escape, she forges an alliance with Max Rockatansky (Tom Hardy), a loner and former captive. Fortified in the massive, armored truck the War Rig, they try to outrun the ruthless warlord and his henchmen in a deadly high-speed chase through the Wasteland.</p>
							<p class="movie_rating">Rating: 8.2/10 IMDb</p>
							<a href="http://vodlocker.com/zknpvuroysk9">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/fast_and_furious_7.jpg" alt="Fast and Furious 7 Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Furious 7</h2>
							<p class="movie_synopsis">After defeating international terrorist Owen Shaw, Dominic Toretto (Vin Diesel), Brian O'Conner (Paul Walker) and the rest of the crew have separated to return to more normal lives. However, Deckard Shaw (Jason Statham), Owen's older brother, is thirsty for revenge. A slick government agent offers to help Dom and company take care of Shaw in exchange for their help in rescuing a kidnapped computer hacker who has developed a powerful surveillance program</p>
							<p class="movie_rating">Rating: 7.4/10 IMDb</p>
							<a href="http://vodlocker.com/vryabe476tlu">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/age_of_ultron.jpg" alt="Avengers Age of Ultron Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Avengers: Age of Ultron</h2>
							<p class="movie_synopsis">When Tony Stark (Robert Downey Jr.) jump-starts a dormant peacekeeping program, things go terribly awry, forcing him, Thor (Chris Hemsworth), the Incredible Hulk (Mark Ruffalo) and the rest of the Avengers to reassemble. As the fate of Earth hangs in the balance, the team is put to the ultimate test as they battle Ultron, a technological terror hell-bent on human extinction. Along the way, they encounter two mysterious and powerful newcomers, Pietro and Wanda Maximoff.</p>
							<p class="movie_rating">Rating: 7.7/10 IMDb</p>
							<a href="http://vodlocker.com/75q1w7ojjax7">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/jurassic_world.jpg" alt="Jurassic World Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Jurassic World</h2>
							<p class="movie_synopsis">Located off the coast of Costa Rica, the Jurassic World luxury resort provides a habitat for an array of genetically engineered dinosaurs, including the vicious and intelligent Indominus rex. When the massive creature escapes, it sets off a chain reaction that causes the other dinos to run amok. Now, it's up to a former military man and animal expert (Chris Pratt) to use his special skills to save two young brothers and the rest of the tourists from an all-out, prehistoric assault.</p>
							<p class="movie_rating">Rating: 7.2/10 IMDb</p>
							<a href="http://vodlocker.com/5p7qcpu1rdp7">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/mission_impossible_rogue_nation.jpeg" alt="Mission: Impossible – Rogue Nation Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Mission: Impossible – Rogue Nation</h2>
							<p class="movie_synopsis">With the IMF now disbanded and Ethan Hunt (Tom Cruise) out in the cold, a new threat -- called the Syndicate -- soon emerges. The Syndicate is a network of highly skilled operatives who are dedicated to establishing a new world order via an escalating series of terrorist attacks. Faced with what may be the most impossible mission yet, Ethan gathers his team and joins forces with Ilsa Faust (Rebecca Ferguson), a disavowed British agent who may or may not be a member of this deadly rogue nation.</p>
							<p class="movie_rating">Rating: 7.6/10 IMDb</p>
							<a href="http://vodlocker.com/3en3t0l8jnz0">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/straight_outta_compton.jpg" alt="Straight Outta Compton Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Straight Outta Compton</h2>
							<p class="movie_synopsis">In 1988, a groundbreaking new group revolutionizes music and pop culture, changing and influencing hip-hop forever. N.W.A's first studio album, "Straight Outta Compton," stirs controversy with its brutally honest depiction of life in Southern Los Angeles. With guidance from veteran manager Jerry Heller, band members Ice Cube (O'Shea Jackson Jr.), Dr. Dre (Corey Hawkins), Eazy-E, DJ Yella and MC Ren navigate their way through the industry, acquiring fame, fortune and a place in history.</p>
							<p class="movie_rating">Rating: 8.2/10 IMDb</p>
							<a href="http://vodlocker.com/zmwp5knh2qmk">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/inside_out.jpg" alt="Inside Out Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Inside Out</h2>
							<p class="movie_synopsis">Riley (Kaitlyn Dias) is a happy, hockey-loving 11-year-old Midwestern girl, but her world turns upside-down when she and her parents move to San Francisco. Riley's emotions -- led by Joy (Amy Poehler) -- try to guide her through this difficult, life-changing event. However, the stress of the move brings Sadness (Phyllis Smith) to the forefront. When Joy and Sadness are inadvertently swept into the far reaches of Riley's mind, the only emotions left in Headquarters are Anger, Fear and Disgust.</p>
							<p class="movie_rating">Rating: 8.4/10 IMDb</p>
							<a href="http://vodlocker.com/18c7ualu7nmj">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/spy.jpg" alt="Spy Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Spy</h2>
							<p class="movie_synopsis">Despite having solid field training, CIA analyst Susan Cooper (Melissa McCarthy) has spent her entire career as a desk jockey, working hand-in-hand with dashing agent Bradley Fine (Jude Law). Using high-tech equipment and a hidden earpiece, Susan is the guardian angel who helps Bradley avoid danger. However, when Bradley is assassinated by Bulgarian arms dealer Rayna Boyanov (Rose Byrne), Susan wrangles her way into her first undercover assignment to help capture Boyanov and avenge Bradley.</p>
							<p class="movie_rating">Rating: 7.2/10 IMDb</p>
							<a href="http://vodlocker.com/zdhzbioqq2vm">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/terminator.jpg" alt="Terminator Genisys Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Terminator Genisys</h2>
							<p class="movie_synopsis">When John Connor (Jason Clarke), leader of the human resistance against Skynet, sends Kyle Reese (Jai Courtney) back to 1984 to protect his mother, Sarah (Emilia Clarke), from a Terminator assassin, an unexpected turn of events creates an altered timeline. Instead of a scared waitress, Sarah is a skilled fighter and has a Terminator guardian (Arnold Schwarzenegger) by her side. Faced with unlikely allies and dangerous new enemies, Reese sets out on an unexpected new mission: reset the future.</p>
							<p class="movie_rating">Rating: 6.7/10 IMDb</p>
							<a href="http://vodlocker.com/amn1p0tt75f5">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/minions.jpg" alt="Minions Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Minions</h2>
							<p class="movie_synopsis">Evolving from single-celled yellow organisms at the dawn of time, Minions live to serve, but find themselves working for a continual series of unsuccessful masters, from T. Rex to Napoleon. Without a master to grovel for, the Minions fall into a deep depression. But one minion, Kevin, has a plan; accompanied by his pals Stuart and Bob, Kevin sets forth to find a new evil boss for his brethren to follow. Their search leads them to Scarlet Overkill, the world's first-ever super-villainess.</p>
							<p class="movie_rating">Rating: 6.5/10 IMDb</p>
							<a href="http://vodlocker.com/yp7teocv71ha">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/ex_machina.jpg" alt="Ex Machina Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Ex Machina</h2>
							<p class="movie_synopsis">A young coder at the world's largest internet company, wins a competition to spend a week at a private retreat belonging to the reclusive CEO of the company. One arrival he learns that he must participate in a bizarre experiment which involves interacting with the world's first true artificial intelligence, which comes in the form of a beautiful female robot.</p>
							<p class="movie_rating">Rating: 7.7/10 IMDb</p>
							<a href="http://vodlocker.com/0wshfxzr0lrl">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/pitch_perfect2.jpg" alt="Pitch Perfect 2 Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Pitch Perfect 2</h2>
							<p class="movie_synopsis">It's been three years since the Barden Bellas (Anna Kendrick, Rebel Wilson) became the first all-female group to win a national title. All seems well until a botched Lincoln Center performance for the president leads to a scandal that strips them of their performing duties, causing internal tension and strife. With the world championships on the horizon in Copenhagen, Denmark, the women must get their act together for their one and only shot at redemption.</p>
							<p class="movie_rating">Rating: 6.6/10 IMDb</p>
							<a href="http://vodlocker.com/9u9k8pvhun9f">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/san_andreas.jpg" alt="San Andreas Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">San Andreas</h2>
							<p class="movie_synopsis">A seemingly ideal day turns disastrous when California's notorious San Andreas fault triggers a devastating, magnitude 9 earthquake, the largest in recorded history. As the Earth cracks open and buildings start to crumble, Ray Gaines (Dwayne Johnson), an LAFD search-and-rescue helicopter pilot, must navigate the destruction from Los Angeles to San Francisco to bring his estranged wife (Carla Gugino) and their only daughter (Alexandra Daddario) to safety.</p>
							<p class="movie_rating">Rating: 6.2/10 IMDb</p>
							<a href="http://vodlocker.com/54nxmf378dnt">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/maze_runner.jpg" alt="Maze Runner: Scorch Trials Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Maze Runner: Scorch Trials</h2>
							<p class="movie_synopsis">Transported to a remote fortified outpost, Thomas and his fellow teenage Gladers find themselves in trouble after uncovering a diabolical plot from the mysterious and powerful organization WCKD. With help from a new ally, the Gladers stage a daring escape into the Scorch, a desolate landscape filled with dangerous obstacles and crawling with the virus-infected Cranks. The Gladers only hope may be to find the Right Hand, a group of resistance fighters who can help them battle WCKD.</p>
							<p class="movie_rating">Rating: 6.9/10 IMDb</p>
							<a href="http://vodlocker.com/i6u1tjkgaqfd">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
					<li>
						<img src="img/home.jpg" alt="Home Movie Poster" class="movie_poster">
						<div class="movie_info">
							<h2 class="movie_title">Home</h2>
							<p class="movie_synopsis">After a hive-minded alien race called the Boov conquer the Earth, they relocate the planet's human population -- all except for a little girl named Tip (Rihanna), who's managed to hide from the aliens. When Tip meets a fugitive Boov called Oh (Jim Parsons), there's mutual distrust. However, Oh is not like his comrades; he craves friendship and fun. As their distrust fades, the pair set out together to find Tip's mother, but, unbeknown to them, the Gorg -- enemies of the Boov -- are en route.</p>
							<p class="movie_rating">Rating: 6.7/10 IMDb</p>
							<a href="http://vodlocker.com/cv3udslsf8dd">
								<img src="img/watch_video.png" alt="Watch Movie" class="watch_movie">
							</a>
						</div>
					</li>
				</ul>
			</section>
			<footer class="main-footer">
				<p>Connect with us</p>
				<div class="classysocial bubble" data-arc-length="360" data-image-type="picture" data-picture="img/share_icon.png" data-facebook-handle="lakistealthhacker" data-twitter-handle="lakindu_jaya" data-email-handle="lakindu1.jayathilaka@gmail.com" data-skype-handle="lakindu_jayathilaka" data-instagram-handle="lakindu_jaya" data-pinterest-handle="lakindu_jaya" data-youtube-handle="movieplatform" data-networks="facebook,twitter,email,skype,instagram,pinterest,youtube">
				</div>
				<h1>MoviePlatform</h1>
				<p>World's Premier Movie Publication</p>
				<p>&copy; 2015 MoviePlatform. All Rights Reserved.</p>
				<p>All of the free movies found on this website are hosted on third-party servers that are freely available to watch online for all internet users. Any legal issues regarding the free online movies on this website should be taken up with the actual file hosts themselves, as we're not affiliated with them.</p>
			</footer>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="classySocial/js/jquery.classysocial.min.js"></script>
		<script src="slickNav/dist/jquery.slicknav.min.js"></script>
		<script src="trunk8/trunk8.js"></script>
		<script src="js/script.js"></script>
		<script src="js/movies.js"></script>
	</body>
</html>