<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="MoviePlatform - Watch movies and TV series online without any signups or payments. Discover the most popular and latest movies all in one place. We offer high quality movies with crystal clear sound and also a wide variety of TV series. Enjoy!">
		<meta name="keywords" content="stream, watch, latest, popular, TV series, movies, online, free">
		<title>MoviePlatform | Movie Trailers</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700|Nunito:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="classySocial/css/jquery.classysocial.min.css" />
		<link rel="stylesheet" href="slickNav/dist/slicknav.css" />
	</head>
	<body>
		<div id="main-wrapper">
			<header class="main-header">
				<a href="{{ baseUrl() }}" id="main-logo">
					<h1>MoviePlatform</h1>
					<h2 id="sub-logo">World's Premier Movie Publication</h2>
				</a>
				<form action="index.html" method="get" class="search">
					<input type="text" name="search_field" placeholder="Search" class="sf">
					<input type="image" value="Search" src="img/search.png" class="sb">
				</form>
				<nav>
					<ul class="main-nav" id="menu">
						<li><a href="{{ baseUrl() }}">Home</a></li>
						<li><a href="{{ siteUrl('/latest-movies') }}">Latest</a></li>
						<li><a href="{{ siteUrl('/popular-movies') }}">Popular</a></li>
						<li><a href="{{ siteUrl('/tv-series') }}">TV Series</a></li>
						<li><a href="{{ siteUrl('/trailers') }}" class="selected">Trailers</a></li>
						<li><a href="{{ siteUrl('/upcoming') }}">Upcoming</a></li>
						<li><a href="{{ siteUrl('/gallery') }}">Gallery</a></li>
						<li><a href="{{ siteUrl('/about') }}">About</a></li>
						<li><a href="{{ siteUrl('/contact') }}">Contact</a></li>
					</ul>
				</nav>
			</header>
			<section>
				<h1 class="page_heading">Trailers</h1>
				<ul class="trailers">
					<li>
						<p>I Saw the Light</p>
						<a href="https://www.youtube.com/embed/1Rp3yup-qe4" class="fancybox fancybox.iframe">
							<img src="img/trailer/i_saw_the_light.jpg" alt="I Saw the Light Movie Trailer">
						</a>
					</li>
					<li>
						<p>Star Wars: The Force Awakens Ultimate Force</p>
						<a href="https://www.youtube.com/embed/bytDctZ2g6o" class="fancybox fancybox.iframe">
							<img src="img/trailer/ultimate_force.jpg" alt="Star Wars: The Force Awakens Ultimate Force Movie Trailer">
						</a>
					</li>
					<li>
						<p>Zoolander 2</p>
						<a href="https://www.youtube.com/embed/6XBDE7aijIs" class="fancybox fancybox.iframe">
							<img src="img/trailer/zoolander_2.jpg" alt="Zoolander 2 Movie Trailer">
						</a>
					</li>
					<li>
						<p>Ride Along 2</p>
						<a href="https://www.youtube.com/embed/LlD0rVWYYfE" class="fancybox fancybox.iframe">
							<img src="img/trailer/ride_along_2.jpg" alt="Ride Along 2 Movie Trailer">
						</a>
					</li>
					<li>
						<p>Son of Saul</p>
						<a href="https://www.youtube.com/embed/I6MJZnDV27U" class="fancybox fancybox.iframe">
							<img src="img/trailer/son_of_saul.jpg" alt="Son of Saul Movie Trailer">
						</a>
					</li>
					<li>
						<p>Norm of the North</p>
						<a href="https://www.youtube.com/embed/5olXXakTOAA" class="fancybox fancybox.iframe">
							<img src="img/trailer/norm_of_the_north.jpg" alt="Norm of the North Movie Trailer">
						</a>
					</li>
					<li>
						<p>Captain America: Civil War</p>
						<a href="https://www.youtube.com/embed/FkTybqcX-Yo" class="fancybox fancybox.iframe">
							<img src="img/trailer/civil_war.jpg" alt="Captain America: Civil War Movie Trailer">
						</a>
					</li>
					<li>
						<p>Creed Ultimate Rocky Legacy</p>
						<a href="https://www.youtube.com/embed/oxdLChjZycE" class="fancybox fancybox.iframe">
							<img src="img/trailer/creed.jpg" alt="Creed Ultimate Rocky Legacy Movie Trailer">
						</a>
					</li>
					<li>
						<p>Barbershop: The Next Cut</p>
						<a href="https://www.youtube.com/embed/rKS6x1a8B_4" class="fancybox fancybox.iframe">
							<img src="img/trailer/barbershop.jpg" alt="Barbershop: The Next Cut Movie Trailer">
						</a>
					</li>
					<li>
						<p>The Big Short</p>
						<a href="https://www.youtube.com/embed/rDlYm15ztK4" class="fancybox fancybox.iframe">
							<img src="img/trailer/the_big_short.jpg" alt="The Big Short Movie Trailer">
						</a>
					</li>
					<li>
						<p>Zootopia</p>
						<a href="https://www.youtube.com/embed/yCOPJi0Urq4" class="fancybox fancybox.iframe">
							<img src="img/trailer/zootopia.jpg" alt="Zootopia Movie Trailer">
						</a>
					</li>
					<li>
						<p>In the Heart of the Sea</p>
						<a href="https://www.youtube.com/embed/4Atz6dfryss" class="fancybox fancybox.iframe">
							<img src="img/trailer/in_the_heart_of_the_sea.jpg" alt="In the Heart of the Sea Movie Trailer">
						</a>
					</li>
					<li>
						<p>Central Intelligence</p>
						<a href="https://www.youtube.com/embed/s5YOhVa7GFM" class="fancybox fancybox.iframe">
							<img src="img/trailer/central_intelligence.jpg" alt="Central Intelligence Movie Trailer">
						</a>
					</li>
					<li>
						<p>Sisters</p>
						<a href="https://www.youtube.com/embed/XPho_FUIlfE" class="fancybox fancybox.iframe">
							<img src="img/trailer/sisters.jpg" alt="Sisters Movie Trailer">
						</a>
					</li>
					<li>
						<p>Now You See Me 2</p>
						<a href="https://www.youtube.com/embed/InqU8CLwbPg" class="fancybox fancybox.iframe">
							<img src="img/trailer/now_you_see_me_2.png" alt="Now You See Me 2 Movie Trailer">
						</a>
					</li>
					<li>
						<p>Fifty Shades of Black</p>
						<a href="https://www.youtube.com/embed/J1pOTTcdRO8" class="fancybox fancybox.iframe">
							<img src="img/trailer/fifty_shades_of_black.jpg" alt="Fifty Shades of Black Movie Trailer">
						</a>
					</li>
					<li>
						<p>Extraction</p>
						<a href="https://www.youtube.com/embed/gfS00VKy5Fc" class="fancybox fancybox.iframe">
							<img src="img/trailer/extraction.jpg" alt="Extraction Movie Trailer">
						</a>
					</li>
					
				</ul>
			</section>
			<footer class="main-footer">
				<p>Connect with us</p>
				<div class="classysocial bubble" data-arc-length="360" data-image-type="picture" data-picture="img/share_icon.png" data-facebook-handle="lakistealthhacker" data-twitter-handle="lakindu_jaya" data-email-handle="lakindu1.jayathilaka@gmail.com" data-skype-handle="lakindu_jayathilaka" data-instagram-handle="lakindu_jaya" data-pinterest-handle="lakindu_jaya" data-youtube-handle="movieplatform" data-networks="facebook,twitter,email,skype,instagram,pinterest,youtube">
				</div>
				<h1>MoviePlatform</h1>
				<p>World's Premier Movie Publication</p>
				<p>&copy; 2015 MoviePlatform. All Rights Reserved.</p>
				<p>All of the free movies found on this website are hosted on third-party servers that are freely available to watch online for all internet users. Any legal issues regarding the free online movies on this website should be taken up with the actual file hosts themselves, as we're not affiliated with them.</p>
			</footer>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js"></script>
		<script src="classySocial/js/jquery.classysocial.min.js"></script>
		<script src="slickNav/dist/jquery.slicknav.min.js"></script>
		<script src="js/trailers.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>